* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	min-width: 1140px;
}

body.child .footer{
	background-color: #222222;
}

body.child .footer__info-column > a,
body.child .footer__info-column > h2 {
	color:#fff;
}



.container {
	width:1140px;
	margin: 0 auto;
}

@mixin mainFont($fontSize: 14px, $fontWeight: 400, $textTransform:normal) {
	font-family: 'Open Sans', sans-serif;
	font-size: $fontSize;
	line-height: $fontSize + 8px;
	font-weight: $fontWeight;
	text-decoration: none;
	text-transform: $textTransform;
	color:#333333;
}

/* ---------------- header start ------------------- */

.header {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-wrapper {
		background-color: #f7f7f7;
	}

	&__contacts {
		@include mainFont(12px);
		display: flex;
		
		&-phone {
			margin: 0;
			padding-left: 25px;
			position: relative;

			&::after {
				content: "";
				width: 13px;
				height: 13px;
				position: absolute;
				top:3px;
				left:3px;
				background-image: url('../images/phone.png');
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		&-email {
			margin: 0;
			margin-left: 53px;
			padding-left: 25px;
			position: relative;

			& span {
				font-weight: bold;
			}

			&::after {
				@extend .header__contacts-phone::after;
				background-image: url('../images/email.png');
			}
		}
	}

	&__user-account {
		padding-right: 15px;
		position: relative;

			&-toggle {
				@include mainFont(12px, bold);
				text-decoration: none;

			&::after {
				content: "";
				width: 8px;
				height: 4px;
				position: absolute;
				top:8px;
				right:0px;
				background-image: url('../images/arrow-down.png');
				background-position: center;
				background-repeat: no-repeat;	
			}
		}
	}

	&__user-menu {
		flex-direction: column;
		position: absolute;
		top:40px;
		right:0;
		width: 260px;
		background-color: #fff;
		border-top: 2px solid #e24545;
		display: none; /* flex */

		&-item {
			@include mainFont(13px);
			text-decoration: none;
			padding: 17px 0 17px 30px;
			position: relative;
			border-bottom: 1px solid #dddddd;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				color:#e24545;
			}

			&::after {
				content: "";
				width: 5px;
				height: 5px;
				position: absolute;
				background-color: #000;
				left:15px;
				top:25px;
			}

			&--active {
				color:#e24545;
			}
		}
	}
}

/* ----------------- header finish ----------------- */


/* ------------------ navigation start ------------- */

.logo {
	padding: 40px 0 40px 40px;
	@include mainFont(28px, bold, uppercase);
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;

	& span {
		color:#e24545;
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__menu {
		margin: 0px;
	}

	&__menu-item {
		@include mainFont(14px,bold,uppercase);
		text-decoration: none;
		margin-right: 30px;

		&--active {
			color:#e24545;
		}

		&--sub {
			padding-right: 20px;
			position: relative;

			&::after {
				content: "";
				width: 8px;
				height: 4px;
				position: absolute;
				top:8px;
				right:0px;
				background-image: url('../images/arrow-down.png');
				background-position: center;
				background-repeat: no-repeat;	
			}
		}

		&:last-child {
				margin-right: 0;
			}

		&:hover {
			color:#e24545;
		}
	}
}

.user-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__item {
		width: 20px;
		height: 20px;
		margin-left: 25px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		&-search {
			background-image: url('../images/search.png');
			position: relative;
			
			&-input {
				padding: 5px 40px 5px 10px;
				@include mainFont(14px,bold,uppercase);
				position: absolute;
				top:-40px;
				left:-110px;
				outline: none;
				border-radius: 5px;
				border: 1px solid #ccc;
				display: none;
			}

			&-button {
				position: absolute;
				top:-40px;
				right:-101px;
				display: block;
				width: 34px;
				height:34px;
				background-image: url('../images/search.png');
				background-repeat: no-repeat;
				background-position: center;
				border: 1px solid #ccc;
				border-radius: 5px;
				display: none;
			}

		}

		&-cart {
			background-image: url('../images/bag.png');
			position: relative;

			&-counter {
				position: absolute;
				top:12px;
				left: 8px;
				@include mainFont(10px);
				color:#fff;
				line-height: 20px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #e24545;
				text-align: center;
			}
		}

		&-toggle {
			position: relative;

			span {
				position: absolute;
				display: block;
				width: 20px;
				height: 3px;
				left:0px;
				top:3px;
				background-color: #000;
				box-shadow: 0px 7px 0 #000, 
							0px 14px 0 #000; 
			}
		}

		&:first-child {
			margin-left: 0;
		}
	}
}

/* ----------------- navigation finish ----------------- */


/* ------------------ slider start ------------- */

.slider {
	position: relative;
	margin-bottom: 100px;
	height: 600px;
	overflow: hidden;

	&__pagination {
		z-index: 999;
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		top:50%;
		right: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: -22px;

		&-item {
			width: 10px;
			height:10px;
			border: 1px solid #000;
			background-color: transparent;
			margin-bottom: 7px;
			cursor: pointer;
			transition: all .3s;

			&--active {
				background-color: #e24545;
			}

			&:last-child {
				margin-bottom:0px;
			}
		}
	}

	&__container {
		height: 1800px;
		position: relative;
		overflow: hidden;
	}

	&__item {
		height: 600px;
		padding-top: 50px;
		background-color: #d5f1f5;
		background-image: url('../images/slider1.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		position: relative;

		&--power {
			background:url('../images/slider2-1.png') left center no-repeat;
			background-color: lightblue;

			& .slider__item-content {
				margin: 0 0 0 220px;
				width:900px;
				display: flex;
				flex-direction: column;
			}

			& .slider__item-title1 {
				display: inline-block;
				@include mainFont(76px,bold);
				line-height: 76px;
				background-color: transparent;
				padding: 5px;
				color:#e24545;
				margin:0;
				margin-bottom: 5px;
				text-align: center;
				text-transform: none;
			}

			& .slider__item-title2 {
				text-align: center;
				line-height: 66px;
			}

			& .slider__item-descr {
				margin-left: 0;
				display: block;
				text-align: center;
				font-weight: bold;
			}

			& .slider__item-button {
				display:inline-block;
				padding-right: 0px;
				background: none;
				text-align: center;
				margin-right: auto;

				&:hover ~ .slider__item-title2-wrapper .slider__item-title2-spinner {
					transform:rotate(4320deg);
				}

				&:hover ~ .slider__item-upper {
					bottom:-1px;
				}
			}
		}


	/* 	&:nth-of-type(2) {
		
	
		& .slider__item-content {
			margin: 0 0 0 220px;
			width:900px;
			display: flex;
			flex-direction: column;
		}
	
		& .slider__item-title1 {
			display: inline-block;
			@include mainFont(76px,bold);
			line-height: 76px;
			background-color: transparent;
			padding: 5px;
			color:#e24545;
			margin:0;
			margin-bottom: 5px;
			text-align: center;
			text-transform: none;
		}
	
		& .slider__item-title2 {
			text-align: center;
			line-height: 66px;
		}
	
		& .slider__item-descr {
			margin-left: 0;
			display: block;
			text-align: center;
			font-weight: bold;
		}
	
		& .slider__item-button {
			display:inline-block;
			padding-right: 0px;
			background: none;
			text-align: center;
			margin-right: auto;
	
			&:hover ~ .slider__item-title2-wrapper .slider__item-title2-spinner {
				transform:rotate(4320deg);
			}
	
			&:hover ~ .slider__item-upper {
				bottom:-1px;
			}
		}
	} */

		&-content {
			display: block;
			margin-left: 170px;
		}

		&-title1 {
			display: inline-block;
			@include mainFont(13px,400,uppercase);
			background-color: #e24545;
			padding: 5px;
			color:#fff;
			margin:0;
			margin-bottom: 15px;
		}

		&-title2 {
			@include mainFont(56px,bold,uppercase);
			margin: 0;
			margin-bottom: 90px;

			& span {
				font-size: 76px;
				padding: 0 60px;
			}

			&-wrapper {
				position: relative;
			}

			&-spinner {
				position: absolute;
				top:0px;
				left:515px;
				width: 115px;
				height: 200px;
				background-color: #fff;
				background: url('../images/slider2-4.png') center center no-repeat;
				transition: 2s;
			}
		}

		&-descr {
			@include mainFont(56px,100,uppercase);
			color:#e24545;
			word-spacing: 30px;
			margin: 0;
			margin-bottom: 80px;
			margin-left: 140px;
		}

		&-button {
			@include mainFont(14px,bold,uppercase);
			text-decoration: underline;
			padding-right: 25px;
			background-image: url('../images/arrow-slider.png');
			background-repeat: no-repeat;
			background-position: center right;
		}

		&-upper {
			width:250px;
			height: 250px;
			background: url('../images/slider2-2.png') center center no-repeat;
			position: absolute;
			bottom:-250px;
			right:0;
			transition: all 1s;
		}
	}
}

/* ----------------- slider finish ----------------- */


/* ------------------ about start ------------- */

.about {
	text-align: center;
	margin-bottom: 70px;

	&__title {
		@include mainFont(14px,400,uppercase);
		margin: 0;
		margin-bottom: 50px;

		& span {
			margin-top: 15px;
			display: block;
			font-size: 34px;
		}
	}

	&__descr {
		@include mainFont(14px,400,none);
		line-height: 32px;
	}

	&__button {
		@include mainFont(24px,bold,uppercase);
		text-decoration: underline;
		padding: 0 50px;
		position: relative;

		&::before {
			content: "";
			width: 14px;
			height: 9px;
			position: absolute;
			top:50%;
			margin-top: -4px;
			left:0;
			background-image: url('../images/arrow-about.png');
			background-repeat: no-repeat;
			background-position: center;
		}

		&::after {
			content: "";
			position: absolute;
			top:50%;
			width: 14px;
			height: 9px;
			margin-top: -4px;
			right:0;
			background-image: url('../images/arrow-about.png');
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(180deg);
		}
	}
}


/* ----------------- aboutfinish ----------------- */


/* ------------------ features start ------------- */

.features {
	padding: 0 60px;
	margin-bottom: 115px;
	display: flex;
	align-items: center;
	justify-content: center;

	&-wrapper {
		border-top: 1px solid #b7b7b7;
	}

	&__item {
		padding: 110px 90px 45px 90px;
		border: 1px solid #b7b7b7;
		border-top: none;
		border-right: none;
		position: relative;

		&::after {
			content: "";
			width: 37px;
			height: 37px;
			position: absolute;
			top:45px;
			left:50%;
			margin-left: -18px;
			background-image: url('../images/features1.png');
			background-repeat: no-repeat;
			background-position: center;
		}

		&:last-child {
			border-right: 1px solid #b7b7b7;
		}

		&-title {
			@include mainFont(18px,900,uppercase);
			margin: 0;
			margin-bottom: 13px;
			text-align: center;
			text-shadow: 0px 10px 10px #ccc;
		}

		&-descr {
			@include mainFont(13px,400,none);
			color:#888888;
			margin: 0;
			text-align: center;
		}
	}
}

.features__item:nth-child(2)::after {
	background-image: url('../images/features2.png');
}

.features__item:last-child::after {
	background-image: url('../images/features3.png');
}

/* ----------------- featues finish ----------------- */


/* ------------------ categories start ------------- */

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 100px;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		&-photo {
			width: 555px;
			height: 500px;
			border: 1px solid #ccc;
			overflow: hidden;

			& img {
				width: 100%;
			}
		}

		&-right-column {
			width: 585px;
			display: flex;
			flex-direction: column;
		}

		&-info {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			margin-bottom: 90px;
		}

		&-title {
			@include mainFont(36px,900,uppercase);
			margin:0;
			text-align: center;
		}

		&-descr {
			@include mainFont(14px,400,none);
			margin:0;
			margin-bottom: 40px;
			color:#ccc;

		}

		&-button {
			@include mainFont(10px,bold,uppercase);
			display: inline-block;
			padding: 10px 25px;
			border:1px solid #ccc;
			margin:0 auto;
		}

		&-list {
			background: linear-gradient(#fff 30px, #e0e0e0 100%);
			width: 100%;
			padding-bottom: 110px;
			position: relative;
			overflow: hidden;
			border-right: 40px solid transparent;
			border-left: 40px solid transparent;
			/* border:2px solid red; */
			/* padding: 20px 40px 120px 40px; */

			&-pagination {
				position: absolute;
				bottom:60px;
				left:50%;
				margin-left: -20px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				width: 40px;

				&--active {
					background-color: red;
				}

				& span {
					width: 9px;
					height: 9px;
					border:1px solid #ccc;
					border-radius: 50%;
				}
			}
		}

		&-container {
			display: block;
			width: 9999px;
			padding-left: 12px;
			overflow: hidden;

		}

		&-product {
			border:2px solid red;
			/* margin-right: 30px; */
			float: left;
			/* border:2px solid yellow; */
			width: 225px;
			flex-direction: column;
			margin-right: 30px;

			&-photo {
				width: 220px;
				height:260px;
				margin-bottom: 20px;

				& img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
					height:100%;
				}
			}

			&-descr {
				@include mainFont(14px,400,none);
				color:#c0c0c0;
				margin: 0;
				margin-bottom: 13px;
				text-align: center;
			}

			&-title {
				@include mainFont(20px,bold,uppercase);
				margin: 0;
				margin-bottom: 20px;
				text-align: center;
			}

			&-price {
				@include mainFont(15px,bold,uppercase);
				margin: 0;
				color:red;
				text-align: center;
			}
		}
	}
}

/* ----------------- categories finish ----------------- */


/* ------------------ popular start ------------- */

.popular {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10px 0;
		border-top: 2px solid #eee;
		border-bottom: 2px solid #eee; 
		margin-bottom: 40px;

		&-title {
			margin: 0;
			@include mainFont(22px,bold,uppercase);
			margin-right: auto;
		}

		&-filter {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin: 0;
			padding: 0;
			list-style: none;

			&-item {
				@include mainFont(12px,bold,uppercase);
				position: relative;
				padding-right: 20px;
				margin-left: 20px;
				color:#ccc;
				text-decoration: none;

				&::after {
					content: "";
					width: 2px;
					height: 12px;
					background-color: #ccc;
					position: absolute;
					top:50%;
					margin-top: -6px;
					right:0;
				}

				&--active {
					color:#000;
				}
			}
		}

		&-arrows {
			margin-left: 30px;
			display: flex;
			align-items: center;
		}

		&-arrow {
			width: 35px;
			height: 35px;
			border: 1px solid #ccc;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			background-image: url('../images/arrow-static.png');

			&:hover {
				background-color:red;
				border: 1px solid red;
				background-image: url('../images/arrow-hover.png');
			}

			&-prev {
				margin-right: 5px;

				&:hover {
					transform: rotate(180deg);
				}
			}

			&-next {
				transform: rotate(180deg);

				&:hover {
					transform: rotate(0deg);
				}
			}
		}
	}

	&__body {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
	}

	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-bottom: 40px;
		margin-right: 30px;
		background-color: #e8e7e7;
		border: 1px solid transparent;

		&:hover {
			border:1px solid black;
		}

		&:hover .popular__item-to-cart{
			opacity:1;
			top:285px;
		}

		&-photo {
			width: 260px;
			height: 335px;
			margin-bottom: 40px;
			background-color: #fff;

			& img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
				height: 100%;
			}
		}

		&-descr {
			@include mainFont(14px,400,none);
			color:#c0c0c0;
			margin: 0;
			margin-bottom: 13px;
			text-align: center;
		}

		&-title {
			@include mainFont(20px,bold,uppercase);
			margin: 0;
			margin-bottom: 20px;
			text-align: center;
		}

		&-price {
			@include mainFont(15px,bold,uppercase);
			margin: 0;
			color:red;
			text-align: center;
		}

		&-to-cart {
			margin: 0;
			width: 100%;
			position: absolute;
			background-color: red;
			@include mainFont(12px,bold,uppercase);
			color:#fff;
			text-align: center;
			padding:15px 0;
			top:0px;
			opacity:0;
			transition: all 2s;

			&:hover {
				cursor: pointer;
			}

			&::after {
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
				top:50%;
				margin-top: -8px;
				left:60px;
				background-image: url(../images/bag.png);
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&-new  .popular__item-box {
			position: absolute;
			top:10px;
			right:10px;
			display: inline-block;
			padding: 5px;
			@include mainFont(10px,bold,uppercase);
			color:#fff;
			background-color: red;
		}

		&-ts  .popular__item-box {
			position: absolute;
			top:10px;
			right:10px;
			display: inline-block;
			padding: 5px;
			@include mainFont(10px,bold,uppercase);
			color:#fff;
			background-color: black;
		}

		&-di  .popular__item-box {
			position: absolute;
			top:10px;
			right:10px;
			display: inline-block;
			padding: 5px;
			@include mainFont(10px,bold,uppercase);
			color:#fff;
			background-color: black;
		}
	}
}

.popular__header li:last-of-type > .popular__header-filter-item {
	padding-right: 0;
}

.popular__header li:last-of-type > .popular__header-filter-item::after {
	width: 0;
	height: 0;
}

/* ----------------- populer finish ----------------- */

/* ------------------ news start ------------- */

.news {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 120px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		border-top: 2px solid #eee;
		border-bottom: 2px solid #eee; 
		margin-bottom: 40px;

		&-title {
			margin: 0;
			@include mainFont(22px,bold,uppercase);
		}

		&-show-all {
			@include mainFont(12px,bold,uppercase);
			color:#fff;
			background-color: red;
			padding: 10px 20px;
			border: none;
			outline: none;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;

		&-item {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 360px;

			&-photo {
			display: block;
			width: 360px;
			height: 260px;
			margin-bottom: 40px;
			background-color: #fff;

				& img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
				}
			}

			&-descr {
				@include mainFont(13px,400,none);
				color:#c0c0c0;
				margin: 0;
				text-align: left;
				margin-bottom: 33px;
			}

			&-title {
				@include mainFont(18px,bold,uppercase);
				margin: 0;
				margin-bottom: 20px;
				text-align: left;
			}

			&-time {
				@include mainFont(12px,400,none);
				color:#c0c0c0;
				margin-bottom: 12px;
			}

			&-button {
				@include mainFont(14px,bold,uppercase);
				text-decoration: underline;
			}
		}
	}
}

/* ------------------ news finish ------------- */

/* ------------------ footer start ------------- */

.footer {
	background-color: #f6f6f6;
	padding: 100px 0 50px 0;

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&-column {
			display: flex;
			flex-direction: column;

			& .logo {
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 20px;
			}

			&-descr {
				@include mainFont(12px,bold,none);
				line-height: 25px;
				color:#a9a9a9;
				margin: 0;
				margin-bottom: 20px;
				width: 290px;
			}
		}

		&-title {
			@include mainFont(14px,bold,uppercase);
			margin: 0;
			margin-bottom: 45px;
		}

		&-help {
			@include mainFont(13px,400,capitalize);
			margin-bottom: 15px;
		}

		&-input {
			padding: 10px 35px 10px 10px;
			width: 100%;
			@include mainFont(13px,400,none);
			font-style: italic;
			color:#ccc;
			background-repeat: no-repeat;
			background-position: 170px center;
			background-image: url('../images/email.png');
			outline: none;
			border:2px solid transparent;
			margin-bottom: 10px;

			&:focus {
				border: 2px solid red;
			}
		}

		&-submit {
			background-color: red;
			padding:10px 0;
			border: none;
			outline: none;
			@include mainFont(11px,bold,uppercase);
			color:#fff;
			cursor: pointer;
		}
	}

	&__pay {
		padding: 33px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-bottom: 50px;

		&-item {
			width: 65px;
			height: 40px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('../images/visa.png');
			margin: 0 12px;

			&:nth-child(2) {
				background-image: url('../images/paypal.png');
			}

			&:nth-child(3) {
				background-image: url('../images/maestro.png');
			}

			&:nth-child(4) {
				background-image: url('../images/google.png');
			}

			&:nth-child(5) {
				background-image: url('../images/amex.png');
			}

			&:nth-child(6) {
				background-image: url('../images/mastercard.png');
			}
		}
	}

	&__copy {
		@include mainFont(13px,bold,uppercase);
		text-align: center;
	}
}

.social {
	margin: 0;
	padding: 0;
	list-style: none;

	& li {
		display: inline-block;
		margin-right: 20px;

		&:nth-child(2) .social__item {
			background-image: url('../images/twitter.png');
		}

		&:nth-child(3) .social__item {
			background-image: url('../images/p.png');
		}

		&:nth-child(4) .social__item {
			background-image: url('../images/vk.png');
		}

		&:nth-child(5) .social__item {
			background-image: url('../images/vimeo.png');
		}
	}

	&__item {
		display: block;
		width: 18px;
		height:16px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../images/facebook.png');
	}
}

/* ------------------ footer finish ------------- */

/* ------------------ product start ------------- */

.product {
	margin: 120px 0;
	display: flex;
	flex-direction: column;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&-left-column {
			width: 575px;
			display: flex;
			align-items: flex-start;
			margin-right: 55px;
			box-shadow: 0px 20px 60px 5px #000;
		}

		&-preview {
			width: 100px;
			margin-right: 30px;
			display: flex;
			flex-direction: column;

			&-photo {
				max-width: 100px;
				max-height: 300px;
				margin-bottom: 10px;
				border:1px solid #ccc;
				cursor: pointer;

				&--active {
					border:1px solid red;
				}

				& img {
					max-width: 100%;
				}
			}
		}

		&-main {
			width: 460px;
			height: 640px;

			&-photo {
				width: 460px;
				height: 640px;

				& img {
				}
			}
		}

		&-right-column {
			display: flex;
			flex-direction: column;
			width: 500px;
		}

		&-title {
			@include mainFont(26px,bold,none);
			margin: 0;
			margin-bottom: 30px;
		}

		&-rating {
			display: flex;
			cursor: pointer;
			margin-bottom: 10px;

			& span {
				display: block;
				width: 20px;
				height: 20px;
				background-image: url('../images/star.png');
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 3px;

				&:last-child {
					margin-right:0;
				}

				&:hover {
					background-image: url('../images/star-hover.png');
				}
			}
		}

		&-info {
			padding: 30px 0;
			flex-direction: flex;
			flex-direction: column;
			display: flex;
			align-items: flex-start;
			border-top:1px solid #ccc;
			border-bottom: 1px solid #ccc; 

			&-price {
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				margin-bottom: 20px;

				&-new {
					@include mainFont(30px,bold,uppercase);
					margin: 0 15px 0 0;
					line-height: 30px;
					color:red;
				}

				&-old {
					@include mainFont(16px,400,uppercase);
					margin: 0 15px 0 0;
					color:#ccc;
					text-decoration:line-through;
				}

				&-discount {
					@include mainFont(10px,400,uppercase);
					margin: 0;
					color:#fff;
					background-color: #000;
					padding: 5px 10px;
				}

				&-item {
					margin-right: 15px;
				}
			}

			&-descr {
				@include mainFont(13px,bold,none);
				color:#ccc;
				margin: 0;
			}
		}

		&-options {
			padding: 30px 0;
			margin-bottom: 25px;
			flex-direction: flex;
			flex-direction: column;
			display: flex;
			align-items: flex-start;
			border-bottom: 1px solid #ccc;

			& input[type='radio'] {
				display: none;
			}
			
			&-color {
				width: 100%;
				padding-bottom: 30px;
				border-bottom: 1px solid #ccc;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				&-list {
					display: flex;
					align-items: center;
					justify-content: flex-start;

					& input[type='radio']:checked + .product__container-options-color-item::after {
						background-image: url('../images/select-color.png');
					}
				}

				&-item {
					width: 25px;
					height: 25px;
					border-radius: 50%;
					margin-right: 15px;
					background-color: #525252;
					cursor: pointer;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;

					&::after {
						content: "";
						width: 25px;
						height: 25px;
						position: absolute;
						top:0;
						left:0;
						background-position: center;
						background-repeat: no-repeat;
					}


					&:hover {
						background-image: url('../images/select-color.png');
					}

					&:nth-of-type(2) {
						background-color: #e245c3;
					}

					&:nth-of-type(3) {
						background-color: #80c386;
					}

					&:nth-of-type(4) {
						background-color: #45b0e2;
					}

					&:nth-of-type(5) {
						background-color: #cccccc;
					}
				}
			}

			&-size {
				width: 100%;
				padding-bottom: 30px;
				padding-top: 30px;
				border-bottom: 1px solid #ccc;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				&-list {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					vertical-align: top;

					& input[type='radio']:checked + .product__container-options-size-item::after {
						border: 2px solid #000;
					}
				}

				&-item {
					vertical-align: top;
					width: 40px;
					@include mainFont(12px,bold,uppercase);
					text-align: center;
					margin-right: 15px;
					cursor: pointer;
					position: relative;
					padding: 3px 0;

					&::after {
						box-sizing:border-box;
						content: "";
						position: absolute;
						top:0;
						left: 0;
						width: 100%;
						height: 100%;
						border: 2px solid #ccc;
					}
				}
			}

			&-buy {
				width: 100%;
				padding-bottom: 30px;
				padding-top: 30px;
				border-bottom: 1px solid #ccc;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				&-count {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin-right: 20px;

					&-select {
						width: 50px;
						height: 50px;
						@include mainFont(16px,bold,bold);
						color:#dddddd;
						border:2px solid #dddddd;
						outline: none;
						background-color: #f7f7f7;
						cursor: pointer;

						&:hover {
							background-color:red;
							border-color: black;
						}
					}

					&-result {
						text-align: center;
						border:none;
						outline: none;
						border-top:2px solid #dddddd;
						border-bottom: 2px solid #dddddd;
						@include mainFont(16px,bold,uppercase);
						color:#000;
						padding: 0 25px;
						width: 100px;
						height: 50px;

					}
				}

				&-button {
					margin: 0;
					position: relative;
					background-color: red;
					@include mainFont(12px,bold,uppercase);
					color:#fff;
					text-align: center;
					padding:15px 30px 15px 45px;

					&:hover {
						cursor: pointer;
					}

					&::after {
						content: "";
						width: 16px;
						height: 16px;
						position: absolute;
						top:50%;
						margin-top: -7px;
						left:15px;
						background-image: url(../images/bag.png);
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}

			&-share {
				width: 100%;
				padding-top: 30px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}

			&-title {
				@include mainFont(16px,bold,uppercase);
				margin: 0;
				margin-right: 50px;
			}
		}
	}
}

.page-title {
	padding:40px 0;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#000;
	position:relative;	

	&__title {
		margin:0;
		@include mainFont(40px,bold,uppercase);
		color:#fff;
	}
}

.breadcrumbs {
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	max-width:600px;
	justify-content:center;
	align-items:center;
	margin-top:20px;

	& li {
		position:relative;
	}

	&__item {
		display: block;
		padding: 4px;
		padding-right: 30px;
		@include mainFont(14px,bold,capitalize);
		color:#fff;

		&::after {
			content: "";
			width:14px;
			height:14px;
			background-color:#fff;
			margin-top: -7px;
			position:absolute;
			top:50%;
			right:5px;
			transform: rotate(45deg);
		}


		&--active {
			color:red;

			&::after {
				width:0px;
				height:0px;
			}
		}
	}
}