* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	min-width: 1140px;
}

.container {
	width:1140px;
	margin: 0 auto;
}

@mixin mainFont($fontSize: 14px, $fontWeight: 400, $textTransform:normal) {
	font-family: 'Open Sans', sans-serif;
	font-size: $fontSize;
	line-height: $fontSize + 8px;
	font-weight: $fontWeight;
	text-decoration: none;
	text-transform: $textTransform;
	color:#333333;
}

/* ---------------- header start ------------------- */

.header {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-wrapper {
		background-color: #f7f7f7;
	}

	&__contacts {
		@include mainFont(12px);
		display: flex;
		
		&-phone {
			margin: 0;
			padding-left: 25px;
			position: relative;

			&::after {
				content: "";
				width: 13px;
				height: 13px;
				position: absolute;
				top:3px;
				left:3px;
				background-image: url('../images/phone.png');
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		&-email {
			margin: 0;
			margin-left: 53px;
			padding-left: 25px;
			position: relative;

			& span {
				font-weight: bold;
			}

			&::after {
				@extend .header__contacts-phone::after;
				background-image: url('../images/email.png');
			}
		}
	}

	&__user-account {
		padding-right: 15px;
		position: relative;

			&-toggle {
				@include mainFont(12px, bold);
				text-decoration: none;

			&::after {
				content: "";
				width: 8px;
				height: 4px;
				position: absolute;
				top:8px;
				right:0px;
				background-image: url('../images/arrow-down.png');
				background-position: center;
				background-repeat: no-repeat;	
			}
		}
	}

	&__user-menu {
		flex-direction: column;
		position: absolute;
		top:40px;
		right:0;
		width: 260px;
		background-color: #fff;
		border-top: 2px solid #e24545;
		display: none; /* flex */

		&-item {
			@include mainFont(13px);
			text-decoration: none;
			padding: 17px 0 17px 30px;
			position: relative;
			border-bottom: 1px solid #dddddd;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				color:#e24545;
			}

			&::after {
				content: "";
				width: 5px;
				height: 5px;
				position: absolute;
				background-color: #000;
				left:15px;
				top:25px;
			}

			&--active {
				color:#e24545;
			}
		}
	}
}

/* ----------------- header finish ----------------- */


/* ------------------ navigation start ------------- */

.logo {
	padding: 40px 0 40px 40px;
	@include mainFont(28px, bold, uppercase);
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;

	& span {
		color:#e24545;
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__menu-item {
		@include mainFont(14px,bold,uppercase);
		text-decoration: none;
		margin-right: 30px;

		&--active {
			color:#e24545;
		}

		&--sub {
			padding-right: 20px;
			position: relative;

			&::after {
				content: "";
				width: 8px;
				height: 4px;
				position: absolute;
				top:8px;
				right:0px;
				background-image: url('../images/arrow-down.png');
				background-position: center;
				background-repeat: no-repeat;	
			}
		}

		&:last-child {
				margin-right: 0;
			}

		&:hover {
			color:#e24545;
		}
	}
}

.user-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__item {
		width: 20px;
		height: 20px;
		margin-left: 25px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		&-search {
			background-image: url('../images/search.png');
			position: relative;
			
			&-input {
				padding: 5px 40px 5px 10px;
				@include mainFont(14px,bold,uppercase);
				position: absolute;
				top:-40px;
				left:-110px;
				outline: none;
				border-radius: 5px;
				border: 1px solid #ccc;
				display: none;
			}

			&-button {
				position: absolute;
				top:-40px;
				right:-101px;
				display: block;
				width: 34px;
				height:34px;
				background-image: url('../images/search.png');
				background-repeat: no-repeat;
				background-position: center;
				border: 1px solid #ccc;
				border-radius: 5px;
				display: none;
			}

		}

		&-cart {
			background-image: url('../images/bag.png');
			position: relative;

			&-counter {
				position: absolute;
				top:12px;
				left: 8px;
				@include mainFont(10px);
				color:#fff;
				line-height: 20px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #e24545;
				text-align: center;
			}
		}

		&-toggle {
			position: relative;

			span {
				position: absolute;
				display: block;
				width: 20px;
				height: 3px;
				left:0px;
				top:3px;
				background-color: #000;
				box-shadow: 0px 7px 0 #000, 
							0px 14px 0 #000; 
			}
		}

		&:first-child {
			margin-left: 0;
		}
	}
}

/* ----------------- navigation finish ----------------- */


/* ------------------ slider start ------------- */

.slider {
	min-height: 600px;
	position: relative;
	margin-bottom: 100px;

	&__pagination {
		z-index: 999;
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		top:50%;
		right: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: -22px;

		&-item {
			width: 10px;
			height:10px;
			border: 1px solid #000;
			background-color: transparent;
			margin-bottom: 7px;

			&--active {
				background-color: #e24545;
			}

			&:last-child {
				margin-bottom:0px;
			}
		}
	}

	&__item {
		overflow: hidden;
		height: 600px;
		padding-top: 50px;
		background-color: #d5f1f5;
		background-image: url('../images/slider1.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		position: relative;

		&:nth-of-type(2) {
			background:url('../images/slider2-1.png') left center no-repeat;
			background-color: lightblue;

			& .slider__item-content {
				margin: 0 0 0 220px;
				width:900px;
				display: flex;
				flex-direction: column;
			}

			& .slider__item-title1 {
				display: inline-block;
				@include mainFont(76px,bold);
				line-height: 76px;
				background-color: transparent;
				padding: 5px;
				color:#e24545;
				margin:0;
				margin-bottom: 5px;
				text-align: center;
				text-transform: none;
			}

			& .slider__item-title2 {
				text-align: center;
				line-height: 66px;
			}

			& .slider__item-descr {
				margin-left: 0;
				display: block;
				text-align: center;
				font-weight: bold;
			}

			& .slider__item-button {
				display:inline-block;
				padding-right: 0px;
				background: none;
				text-align: center;
				margin-right: auto;

				&:hover ~ .slider__item-title2-wrapper .slider__item-title2-spinner {
					transform:rotate(4320deg);
				}

				&:hover ~ .slider__item-upper {
					bottom:-1px;
				}
			}
		}

		&-content {
			display: block;
			margin-left: 170px;
		}

		&-title1 {
			display: inline-block;
			@include mainFont(13px,400,uppercase);
			background-color: #e24545;
			padding: 5px;
			color:#fff;
			margin:0;
			margin-bottom: 15px;
		}

		&-title2 {
			@include mainFont(56px,bold,uppercase);
			margin: 0;
			margin-bottom: 90px;

			& span {
				font-size: 76px;
				padding: 0 60px;
			}

			&-wrapper {
				position: relative;
			}

			&-spinner {
				position: absolute;
				top:0px;
				left:515px;
				width: 115px;
				height: 200px;
				background-color: #fff;
				background: url('../images/slider2-4.png') center center no-repeat;
				transition: 2s;
			}
		}

		&-descr {
			@include mainFont(56px,100,uppercase);
			color:#e24545;
			word-spacing: 30px;
			margin: 0;
			margin-bottom: 80px;
			margin-left: 140px;
		}

		&-button {
			@include mainFont(14px,bold,uppercase);
			text-decoration: underline;
			padding-right: 25px;
			background-image: url('../images/arrow-slider.png');
			background-repeat: no-repeat;
			background-position: center right;
		}

		&-upper {
			width:250px;
			height: 250px;
			background: url('../images/slider2-2.png') center center no-repeat;
			position: absolute;
			bottom:-250px;
			right:0;
			transition: all 1s;
		}
	}
}

/* ----------------- slider finish ----------------- */


/* ------------------ about start ------------- */

.about {
	text-align: center;
	margin-bottom: 70px;

	&__title {
		@include mainFont(14px,400,uppercase);
		margin: 0;
		margin-bottom: 50px;

		& span {
			margin-top: 15px;
			display: block;
			font-size: 34px;
		}
	}

	&__descr {
		@include mainFont(14px,400,none);
		line-height: 32px;
	}

	&__button {
		@include mainFont(24px,bold,uppercase);
		text-decoration: underline;
		padding: 0 50px;
		position: relative;

		&::before {
			content: "";
			width: 14px;
			height: 9px;
			position: absolute;
			top:50%;
			margin-top: -4px;
			left:0;
			background-image: url('../images/arrow-about.png');
			background-repeat: no-repeat;
			background-position: center;
		}

		&::after {
			content: "";
			position: absolute;
			top:50%;
			width: 14px;
			height: 9px;
			margin-top: -4px;
			right:0;
			background-image: url('../images/arrow-about.png');
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(180deg);
		}
	}
}


/* ----------------- aboutfinish ----------------- */


/* ------------------ features start ------------- */

.features {
	padding: 0 60px;
	margin-bottom: 115px;
	display: flex;
	align-items: center;
	justify-content: center;

	&-wrapper {
		border-top: 1px solid #b7b7b7;
	}

	&__item {
		padding: 110px 90px 45px 90px;
		border: 1px solid #b7b7b7;
		border-top: none;
		border-right: none;
		position: relative;

		&::after {
			content: "";
			width: 37px;
			height: 37px;
			position: absolute;
			top:45px;
			left:50%;
			margin-left: -18px;
			background-image: url('../images/features1.png');
			background-repeat: no-repeat;
			background-position: center;
		}

		&:last-child {
			border-right: 1px solid #b7b7b7;
		}

		&-title {
			@include mainFont(18px,900,uppercase);
			margin: 0;
			margin-bottom: 13px;
			text-align: center;
			text-shadow: 0px 10px 10px #ccc;
		}

		&-descr {
			@include mainFont(13px,400,none);
			color:#888888;
			margin: 0;
			text-align: center;
		}
	}
}

.features__item:nth-child(2)::after {
	background-image: url('../images/features2.png');
}

.features__item:last-child::after {
	background-image: url('../images/features3.png');
}

/* ----------------- featues finish ----------------- */


/* ------------------ categories start ------------- */

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 100px;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		&-photo {
			width: 555px;
			height: 500px;
			border: 1px solid #ccc;
			overflow: hidden;

			& img {
				width: 100%;
			}
		}

		&-right-column {
			width: 585px;
			display: flex;
			flex-direction: column;
		}

		&-info {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			margin-bottom: 90px;
		}

		&-title {
			@include mainFont(36px,900,uppercase);
			margin:0;
			text-align: center;
		}

		&-descr {
			@include mainFont(14px,400,none);
			margin:0;
			margin-bottom: 40px;
			color:#ccc;

		}

		&-button {
			@include mainFont(10px,bold,uppercase);
			display: inline-block;
			padding: 10px 25px;
			border:1px solid #ccc;
			margin:0 auto;
		}

		&-list {
			background: linear-gradient(#fff 30px, #e0e0e0 100%);
			display: flex;
			flex-direction: row;
			position: relative;
			padding: 0px 40px 110px 40px;
			overflow: hidden;

			&-pagination {
				position: absolute;
				bottom:60px;
				left:50%;
				margin-left: -20px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				width: 40px;

				&--active {
					background-color: red;
				}

				& span {
					width: 9px;
					height: 9px;
					border:1px solid #ccc;
					border-radius: 50%;
				}
			}
		}

		&-product {
			margin: 0px 15px 0 15px;
			border:1px solid #ccc;
			width: 220px;
			display: flex;
			flex-direction: column;

			&:nth-child(2n +1) {
				margin-right: 100px;
			}

			&-photo {
				width: 220px;
				height:260px;
				margin-bottom: 20px;

				& img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
					height:100%;
				}
			}

			&-descr {
				@include mainFont(14px,400,none);
				color:#c0c0c0;
				margin: 0;
				margin-bottom: 13px;
				text-align: center;
			}

			&-title {
				@include mainFont(20px,bold,uppecase);
				margin: 0;
				margin-bottom: 20px;
				text-align: center;
			}

			&-price {
				@include mainFont(15px,bold,uppecase);
				margin: 0;
				color:red;
				text-align: center;
			}
		}
	}
}